@import "~bootstrap/scss/bootstrap.scss";

.custom-container {
    padding-top: 200px;
}

.custom__h1-start,
.custom__timer {
    padding-top: 200px;
}

.custom__question {
    width: 100%;
}

@media (max-width: 600px) {
    .custom__question {
        padding-top: 50px;
    }
}