@import "~bootstrap/scss/bootstrap.scss";

.wrapper {
    height: 100%;
    min-height: 100vh;
    background-image: url("/basic.jpg");
    background-size: cover;
    display: flex;
}

.main {
    flex: 1;
}

.custom__start {
    background-image: url("/start.jpg");
}

.custom__finish {
    background-image: url("/final-2.jpg");
    background-size: cover;
}

.container {
    height: 100%;
}

.window {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.603);
}

.custom__question {
    width: 100%;
}

@media (max-width: 576px) {
    .wrapper {
        padding-top: 0px;
    }
}